<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>The Cinema Critic</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css">



  <!-- Logo -->

  <div class="background">

  </div>

  <div class="container heading" style="background-color: #eee; height: 300px; width:46%"><h1>The Cinema Critic</h1>



  </div>
  <div class="container">


    <!-- bar: Home | About | Reviews List |  -->
    <nav class="navbar navbar-default container" style="width:100%">

      <ul class="nav navbar-nav ">
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/about">ABOUT</a></li>
        <li id="list"><a href="/list">REVIEWS</a></li>
        <li id="latest"><a href="/latest">LATEST</a></li>
        <li id="contact"><a href="/contact">CONTACT</a></li>
        <li id="submit"><a href="/submit">SUBMIT</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
</head>

<body>
