<%- include("partials/header"); -%>


<div class="container content-box height">
<h1>About</h1>

Image here

<br /> <br>

<%=aboutContent %>

<hr />



<h2>Links:</h2>
<a href="https://thecinemacritic.wordpress.com/">Main Website</a>


  </div>

<%- include("partials/footer"); -%>
