<%- include("partials/header"); -%>

<br>
<div class="container">

<h1>Contact</h1>

<p>
I can be contacted via the Contact Form below, or, if that isn’t working feel free to leave a comment in the comments section and I will get back to you.
</p>
<br>

<div id='form'>
  <div class="row">
    <div class="col-md-12">

      <form action="" method="POST" id="commentform">

        <div id="comment-name" class="form-row">
          <input type="text" placeholder="Name (required)" name="dname" id="name">
        </div>
        <div id="comment-email" class="form-row">
          <input type="text" placeholder="Mail (will not be published) (required)" name="demail" id="email">
        </div>
        <div id="comment-url" class="form-row">
          <input type="text" placeholder="Website" name="url" id="url">
        </div>
        <div id="comment-message" class="form-row">
          <textarea name="comment" placeholder="Message" id="comment"></textarea>
        </div>
        <a href="#"><input type="submit" name="dsubmit" id="commentSubmit" value="Submit Message"></a>

      </form>

    </div>
  </div>
</div>
</div>

<%- include("partials/footer"); -%>
