<%- include("partials/header"); -%>

<br>
<div class="container">

<h1 class="center-div">Contact</h1>

"Hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Non diam phasellus vestibulum lorem sed. Platea dictumst quisque sagittis purus sit. Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Mauris in aliquam sem fringilla. Semper risus in hendrerit gravida rutrum quisque non tellus orci. Amet massa vitae tortor condimentum lacinia quis vel eros. Enim ut tellus elementum sagittis vitae. Mauris ultrices eros in cursus turpis massa tincidunt dui.";
<br><br>
Image here

<div id='form'>
  <div class="row">
    <div class="col-md-12">

      <form action="" method="POST" id="commentform">

        <div id="comment-name" class="form-row">
          <input type="text" placeholder="Name (required)" name="dname" id="name">
        </div>
        <div id="comment-email" class="form-row">
          <input type="text" placeholder="Mail (will not be published) (required)" name="demail" id="email">
        </div>
        <div id="comment-url" class="form-row">
          <input type="text" placeholder="Website" name="url" id="url">
        </div>
        <div id="comment-message" class="form-row">
          <textarea name="comment" placeholder="Message" id="comment"></textarea>
        </div>
        <a href="#"><input type="submit" name="dsubmit" id="commentSubmit" value="Submit Message"></a>

      </form>

    </div>
  </div>
</div>
</div>

<%- include("partials/footer"); -%>
