<%- include("partials/header"); -%>
<div class="container">

Title: <%=filmTitle %>
<div class="review">

  <h1>John Wick (2014) Movie Review</h1>
  <img class="review-img" src="https://static01.nyt.com/images/2014/10/24/arts/JOHNWICK/JOHNWICK-superJumbo.jpg" alt="">
<br><br>

  <b>Director:</b> Chad Stahelski, David Leitch
  <br>
  <b>Year:</b> 2014
  <br>
  <b>Length: </b> 101 minutes
  <br>
  <b>Cast:</b> Keanu Reeves, Michael Nyqvist, Alfie Allen, Willem Dafoe
  <br>
  <b>Review Date:</b> March 7, 2017
  <br>
  <b>Plot:</b> After the sudden death of his beloved wife, John Wick (Keanu Reeves) receives one last gift from her, a beagle puppy named Daisy, and a note imploring him not to forget how to love. But John’s mourning is interrupted when his 1969 Boss Mustang catches the eye of sadistic thug Iosef Tarasov (Alfie Allen) who breaks into his house and steals it, beating John unconscious and leaving Daisy dead. Unwittingly, they have just reawakened one of the most brutal assassins the underworld has ever seen.


  <br><br>




  <p>With the sequel coming sometime soon, I thought I should give my thoughts on the original John Wick. John Wick was one of the most surprising movies of 2014. It wasn’t just a standard Keanu Reeves action flick, it was actually something special,
    garnering a strong reception and following. It is an entertaining and thrilling action movie. <br /> <br />

    The story really isn’t anything special. It’s a revenge story, just with the main character being a former hitman. It’s the execution of the story that makes this movie work so well. The story is set out well, the pace never feeling too fast or
    too long. The world of John Wick is one of the stand out parts of the movie (which is saying a lot). The world is absolutely incredible and interesting, laid out well. I can’t wait to see how the sequel explores this world. This movie is engaging
    and riveting, it really never lost my attention once.<br /> <br />



    This is the best Keanu Reeves has ever been in a movie (it’s also probably the best movie that Keanu Reeves has ever been in). He is really is believable in this role, and not just in the action scenes, he does actually act well in this movie,
    he’s not just playing Keanu Reeves like he has in certain other movies. It really does help that Keanu Reeves does his own stunts, it is much easier to buy him as this character. The supporting performances were also great. Michael Nyqvust was
    quite effective as the main villain as Iosef’s father (and a mob boss), completely owning every scene he’s in. Also, Willem Dafoe, Alfie Allen, Ian McShane and even John Leguizamo were good in their roles (however I would’ve liked if we saw more
    of Willem Dafoe).
    <br /> <br />


    The action is absolutely fantastic. It doesn’t have a lot of shaky cam or unnecessary quick cuts like most action movies nowadays have. The stunt work was also fantastic (it helps with both directors being stunt men), the fights are intense and
    don’t feel fake at all. Another thing I liked was that although John Wick is incredibly good at what he does, he’s still human, he doesn’t always win perfectly against people just because he’s John Wick. That makes the action a lot more riveting,
    he’s not just Arnold Schwarzenegger in Commando or something. In terms of the standout action scene, there’s a sequence that takes place in a nightclub (which reminded me of the nightclub scene in Collateral). In terms of flaws, I guess maybe the
    last action sequence was slightly underwhelming but that’s probably because everything else in the film was so great that it just paled in comparison.
    <br /> <br />
    John Wick has a fantastic world, solid performances, entertaining action, everything you want from an action movie. As I said, the concept of the story itself is nothing special, it’s the execution that makes this film so excellent. If you
    haven’t already, definitely see John Wick when you can, especially before seeing the sequel which comes out (or already came out depending where you are in the world).
    <br /> <br />

    </div>





    <!-- Comment section -->
    <!-------------------Reply Section------->
    <div id="second">
      <div class="row">
        <div class="col-md-2">
          <h3 class="second_heading"><b>Leave a Reply</b></h3>
        </div>
        <div class="col-md-10">
          <div class="blank"></div>
        </div>
      </div>
    </div>
    <div id="middle">
      <form>

      </form>
    </div>

    <!------------Form Start---------->

    <div id='form'>
      <div class="row">
        <div class="col-md-12">

          <form action="" method="POST" id="commentform">

            <div id="comment-name" class="form-row">
              <input type="text" placeholder="Name (required)" name="dname" id="name">
            </div>
            <div id="comment-email" class="form-row">
              <input type="text" placeholder="Mail (will not be published) (required)" name="demail" id="email">
            </div>
            <div id="comment-url" class="form-row">
              <input type="text" placeholder="Website" name="url" id="url">
            </div>
            <div id="comment-message" class="form-row">
              <textarea name="comment" placeholder="Message" id="comment"></textarea>
            </div>
            <a href="#"><input type="submit" name="dsubmit" id="commentSubmit" value="Submit Comment"></a>
            <input style="width: 30px" type="checkbox" value="1" name="subscribe" id="subscribe" checked="checked">
            <p1><b>Notify me when new comments are added.</b></p1>
          </form>

        </div>
      </div>
    </div>
</div>



<!--Facebook-->
<a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
<!--Twitter-->
<a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
<!--Google +-->
<a class="btn-floating btn-lg btn-gplus" type="button" role="button"><i class="fab fa-google-plus-g"></i></a>
<!--Linkedin-->
<a class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
<!--Instagram-->
<a class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
<!--Pinterest-->
<a class="btn-floating btn-lg btn-pin" type="button" role="button"><i class="fab fa-pinterest"></i></a>
<!--Vkontakte-->
<a class="btn-floating btn-lg btn-vk" type="button" role="button"><i class="fab fa-vk"></i></a>
<!--Stack Overflow-->
<a class="btn-floating btn-lg btn-so" type="button" role="button"><i class="fab fa-stack-overflow"></i></a>
<!--Youtube-->
<a class="btn-floating btn-lg btn-yt" type="button" role="button"><i class="fab fa-youtube"></i></a>
<!--Slack-->
<a class="btn-floating btn-lg btn-slack" type="button" role="button"><i class="fab fa-slack-hash"></i></a>
<!--Github-->
<a class="btn-floating btn-lg btn-git" type="button" role="button"><i class="fab fa-github"></i></a>
<!--Comments-->
<a class="btn-floating btn-lg btn-comm" type="button" role="button"><i class="fas fa-comments"></i></a>
<!--Email-->
<a class="btn-floating btn-lg btn-email" type="button" role="button"><i class="fas fa-envelope"></i></a>
<!--Dribbble-->
<a class="btn-floating btn-lg btn-dribbble" type="button" role="button"><i class="fab fa-dribbble"></i></a>
<!--Reddit-->
<a class="btn-floating btn-lg btn-reddit" type="button" role="button"><i class="fab fa-reddit-alien"></i></a>
<!--WhatsApp-->
<a class="btn-floating btn-lg btn-whatsapp" type="button" role="button"><i class="fab fa-whatsapp"></i></a>
</p>
</div>


<%- include("partials/footer"); -%>
