<%- include("partials/header"); -%>
<div class="center-div">



<h1> Latest Review  </h1>
<h2 class="center" ><%= title %></h2>
<p class="center"> <%= startingContent.substring(0, 200) + "..." %>
<a href="">Read More</a></p>



</div>

<%- include("partials/footer"); -%>
