<%- include("partials/header"); -%>

<div class="container">


  <h1>Latest Posts</h1>

  <a href="/example">John Wick</a>
  <br>

  <img width="470" height="320" src="https://images-na.ssl-images-amazon.com/images/G/01/digital/video/hero/Movies/2014/JohnWick_152500700_1810080-219613._V331809634_SX1080_.jpg" alt="">
<br>
<br>
  <button type="button" class="btn btn-primary center-button">Older Posts</button>

</div>

<%- include("partials/footer"); -%>
