<%- include("partials/header"); -%>
<div class="center-div">



    <h1><%=title%></h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcShZc1mEcrTH0pNS0NDvAlrnJbSw0srNY3FLT1T-QviKVX76ZJ_" alt="">


    <p><%=content%></p>
</div>


<%- include("partials/footer"); -%>
