<%- include("partials/header"); -%>
<div class="center-div">



    <h1><%=title%></h1>
    <img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/video/hero/Movies/2014/JohnWick_152500700_1810080-219613._V331809634_SX1080_.jpg" alt="">


    <p><%=content%></p>
</div>


<%- include("partials/footer"); -%>
