<%- include("partials/header"); -%>
<%=date %>


<div class="container content-box">



  <h1>Submit Review</h1>
  <!------------Form Start---------->

  <div id='form'>
    <div class="row">
      <div class="col-md-12">

        <form action="/submit" method="post">
          <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="postTitle">
            <br>



            <label for="">Time (in minutes)</label>
            <input type="number" name="mins" value="">
            <br>

            <label for="">Release Year</label>
            <div id="year" class="form-row">
              <input type="number" placeholder="Year" name="year" id="year">
            </div>
            <br>

            <label for="">Director</label>
            <div id=director class="form-row">
              <input type="text" placeholder="Director" name="director" id="Director">
            </div>
            <br>


            <label for="">Actors (separate with commas)</label>
            <div id="actors" class="form-row">
              <input type="text" placeholder="Actors" name="actors" >
            </div>
            <br>

            <!-- var cast = "Donald Pleasence, Jamie Lee Curtis, Nick Castle, P.J. Soles, Nancy Kyes";
            var castArr = cast.split(",");
            console.log(castArr); -->




            <!-- Action, Adventure, Animation, Comedy, Crime, Documentary, Drama, Family,
             Fantasy, History, Horror, Music, Mystery, Romance, Science Fiction, Thriller, TV Movie, War, Western -->

             <label for="">Genres (separate with commas)</label>
             <div id="genres" class="form-row">
               <input type="text" placeholder="Genres" name="genres">
             </div>
             <br>


            <label for="">Review Date</label>
            <div id="reviewDate" class="form-row">
              <input type="date" id="reviewDate" name="reviewDate" min="2016-01-01" max=<%=date %>>
            </div>

            <label for="">Post image link</label>
            <div id="post-img" class="form-row">
              <input type="url" placeholder="post img " name="postImg" id="url">
            </div>

            <label for="">Feed image link</label>
            <div id="year" class="form-row">
              <input type="url" placeholder="feed img" name="feedImg" id="url">
            </div>

            <label for="">Plot</label>
            <div id="plot" class="form-row">
              <textarea type=="text" name="plot" placeholder="plot"></textarea>
            </div>

            <!-- <label for="">Review</label> -->
            <!-- <div id="review" class="form-row">
              <textarea name="comment" placeholder="review" id="comment"></textarea>
            </div> -->

            <label>Review</label>
            <textarea class="form-control" name="review" rows="5" cols="30"></textarea>

            <div id="rating" class="form-row">
              <label for="">Rating (between 1 and 10)</label>
              <input type="number" name="rating" min="1" max="10">
            </div>

            <button class="btn btn-primary" type="submit" name="button">Publish</button>


          </div>





        </form>

      </div>
    </div>
  </div>
</div>


<%- include("partials/footer"); -%>
