body{
  background-color: white;
}

.center {
  display:inline-block;
  text-align: center;

  border: 3px solid green;
}

.center-div
{
     margin: 0 auto;
     width: 80%;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
